*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
ol,
li {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

input,
button {
    font: inherit;
}

.pe-none {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

.btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: currentColor;
    transition: color 0.3s;  
}

svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
    pointer-events: none;
}

@media (hover: hover) {
    .btn:hover:not(:disabled) {
        color: #f50;
    }
}

body {
    font-family: 'Inter', sans-serif;
    color: #393939;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}

i {
    color: #008a1e;
}

.app {
    display: grid;
    grid-template-columns: 1fr 375px;
    grid-template-areas: 
        'header sidebar'
        'main sidebar'
        'footer sidebar';
    grid-template-rows: min-content 1fr;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-area: header;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.footer__link {
    display: flex;
    color: #393939;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    grid-template-areas: 
        'text prev next'
        'list list list'
        'reset reset reset';
    grid-template-rows: min-content 1fr min-content;
    gap: 20px;
    grid-area: sidebar;
    padding: 20px;
    background-color: #e8e8e8;
}

.sidebar__text {
    grid-area: text;
    align-self: center;
}

.sidebar__btn {
    display: flex;
}

.sidebar__btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.sidebar__btn--prev {
    grid-area: prev;
}

.sidebar__btn--next {
    grid-area: next;
}

.sidebar__levels {
    grid-area: list;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sidebar__level-btn {
    font-size: 25px;
}

.sidebar__level-btn.with-help::before {
    content: '\2713';
    color: #b30000;
}

.sidebar__level-btn.success::before {
    content: '\2713';
    color: #008a1e;
}

.sidebar__level-btn:disabled {
    color: #f50;
    cursor: default;
}

.sidebar__reset {
    grid-area: reset;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sidebar__level-descr {
    margin-top: 10px;
}

.sidebar__level-descr p:not(:last-child) {
    margin-bottom: 3px;
}

.sidebar__level-descr p:first-child {
    font-weight: 700;
}

.main {
    grid-area: main;
    padding: 10px;
}

.table {
    max-width: 600px;
    margin: 0 auto 30px;
    perspective: 400px;
}

.table__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 15px;
    transform: rotateX(20deg);
    transform-origin: bottom;
    background-color: #f2d189;
}

.table__edge {
    position: relative;
    width: 100%;
    height: 15px;
    transform: rotateX(-30deg);
    transform-origin: top;
    background-color: rgba(242, 209, 137, 0.75);
}

.table__edge::before,
.table__edge::after {
    position: absolute;
    top: 15px;
    width: 24px;
    height: 15px;
    background-color: rgba(242, 209, 137, 0.75);
    content: '';
}

.table__edge::before {
    left: 20px;
}

.table__edge::after {
    right: 20px;
}

.code-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #ccc;
    border-radius: 4px;
}

.code-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e8e8e8;
}

.code-block__footer {
    display: flex;
}

.code-block__line {
    padding: 10px;
    background-color: #e8e8e8;
}

.code-block__line-num {
    display: block;
}

.code-block__area {
    position: relative;
    padding: 10px;
    flex-grow: 1;
}

.code-block__area-wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.code-block__input {
    border: none;
    padding: 0;
    width: 100%;
    outline: none;
}

.code-block__btn, 
.code-block__help-btn {
    font-weight: 600;
}

.code-block__btns {
    display: flex;
    column-gap: 10px;
}

/* фигуры */
.table square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #fff;
}

.table triangle {
    width: 80px;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.table triangle.some-class {
    background-color: #393939;
}

.table square triangle {
    background-color: #393939;
}

.table square .first {
    position: absolute;
    z-index: 1;
    top: -20px;
}
/* фигуры */

/* ховер фигур на столе */
.table .code-hover {
    outline: 3px solid #f50;
}

.table triangle.code-hover {
    background-color: #f50;
}

.table square:hover {
    outline: 3px solid #f50;
}

.table triangle:hover {
    background-color: #f50;
}

.table square:has(triangle:hover) {
    outline: none;
}
/* ховер фигур на столе */

.code-block__area--html :is(square, triangle) {
    display: block;
}

/* отступы */
.code-block__area--html > * {
    padding-left: 30px;
}

.code-block__area--html * > * {
    padding-left: 30px;
}
/* отступы */

/* элемент-контейнер */
.code-block__area--html::before {
    content: '<div class="table">';
}

.code-block__area--html::after {
    content: '</div>';
}
/* элемент-контейнер */

.code-block__area--html :is(square, triangle) {
    color: #b30000;
}

.code-block__area--html::before,
.code-block__area--html::after {
    color: #a76201;
}

.code-block__area--html :is(square, triangle)::before {
    display: block;
}

/* квадрат */
.code-block__area--html square:not(:empty)::before {
    content: '<square>';
}

.code-block__area--html square:not(:empty)::after {
    content: '</square>';
}
/* квадрат */

/* треугольник */
.code-block__area--html triangle:not(:empty)::before {
    content: '<triangle>';
}

.code-block__area--html triangle:not(:empty)::after {
    content: '</triangle>';
}
/* треугольник */

/* треугольник с классом */
.code-block__area--html triangle.some-class:not(:empty)::before {
    content: '<triangle class="some-class">';
}

.code-block__area--html triangle.some-class:not(:empty)::after {
    content: '</triangle>';
}
/* треугольник с классом */

/* треугольник с id */
.code-block__area--html triangle#some-id:not(:empty)::before {
    content: '<triangle id="some-id">';
}

.code-block__area--html triangle#some-id:not(:empty)::after {
    content: '</triangle>';
}
/* треугольник с id */

.code-block__area--html .table-hover {
    color: #f50;
}

.code-block__area--html :is(square, triangle):hover {
    color: #f50;
}

.code-block__area--html square:has(triangle:hover) {
    color: #b30000;
}

.table .animate-pulse {
    animation: pulse 1.5s infinite;
}

.table .animate-fadeout {
    animation: fadeOut 0.5s linear;
}

.typing-text {
    white-space: nowrap;
    overflow: hidden;
    animation: typing-text 2s steps(50, end);
}
  
@keyframes typing-text {
    from { 
        width: 0; 
    }
}
  
@keyframes pulse {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.animate-shake {
    animation: shake 0.5s linear;
}

@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(0, -10px, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(0, 10px, 0);
    }
}

.animate-fadeout {
    animation: fadeOut 0.5s linear;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }

@media (max-width: 992px) {
    .app {
        grid-template-areas: 
            'header'
            'main'
            'sidebar'
            'footer';
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .code-block {
        grid-template-columns: 1fr;
    }
}